* {
    font-family: sans-serif;
}

body {
    background-color: rgb(240, 240, 240);
}

.wrapper {
    margin: 10% auto;
    width: 100%;
    max-width: 1024px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 9px;
    min-width: 340px;
}

.block {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    padding: 6px;
    border-radius: 2px;
}

.anti-block {
    background-color: rgb(240, 240, 240);
    box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.2);
    padding: 6px;
    border: none;
    border-radius: 2px;
}

.button {
    text-decoration: none;
    color: black;
    padding: 10px 10px 7px 10px;
    text-transform: uppercase;
    border: none;
    border-bottom: solid 3px;
    border-color: rgba(0, 100, 255, 0.7);
    border-radius: 2px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    transition-property: border-color, background-color, translate;
    transition-duration: 0.5s;
}

.button:hover {
    border-color: rgb(255, 30, 0);
}

.button:active,
.selected {
    background-color: rgb(200, 220, 240);
    transform: translate(1px, 1px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
}

.navbar {
    display: flex;
    flex-flow: column;
}

.navbar .button {
    margin-bottom: 6px;
    min-width: 150px;
}

.navbar .button:last-child {
    margin-bottom: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    margin: 3px;
}

.c6 {
    flex: 6 6 auto;
}

.c3 {
    flex: 3 9 auto;
}

.c9 {
    flex: 9 3 auto;
}

.c12 {
    flex: 12 0 auto;
}

.form {
    display: flex;
    flex-flow: column;
}

.form .form-row {
    display: flex;
    flex-flow: column;
    margin-bottom: 6px;
}

.messages {
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}

.message {
    background-color: white;
    margin-bottom: 6px;
    max-width: 60%;
    min-width: 150px;
}

.message .header {
    display: flex;
}

.message .header * {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.8em;
}

.message .header .sender {
    margin-left: 0.8em;
    margin-right: auto;
}

.messages li {
    display: flex;
}

.messages li.my-message {
    flex-flow: row-reverse;
}

.message-input {
    display: flex;
    flex-flow: row;
    min-width: 300px;
}

.message-input textarea {
    flex: 5 1;
    margin-right: 6px;
    min-height: 40px;
}

.message-input .button {
    flex: 1 5;
}

.footer {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.7em;
}


@media screen and (max-width: 768px) {
    .wrapper {
        margin: 0;
    }
}

@media screen and (max-width: 425px) {
    .row{
        flex-flow: column;
    }
}