<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Spark</title>
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/master.css">
</head>
<body>
<div class="wrapper">
    <div class="row">
        <div class="col block header c12">
            <h1>Welcome to Spark</h1>
            <p id="username">Your ID: Temp</p>
        </div>
    </div>
    <div class="row">
        <div class="navbar block col c3" id="users">
            <!-- <button class="button" id="echo">Echo Bot</button> -->
        </div>
        <div class="form block col c6" id="form">
            <div class="form-row">
                <label for="messages"><h2>messages</h2></label>
                <ul class="anti-block messages" id="messages">
                    <!-- <li class="my-message">
                      <div class="message block">
                        <div class="header">
                          <label>sender:</label>
                          <p class="sender">me</p>
                          <p class="time">11:00</p>
                        </div>
                        <p class="content">test</p>
                      </div>
                    </li>
                    <li>
                      <div class="message block">
                        <div class="header">
                          <label>sender:</label>
                          <p class="sender">me</p>
                          <p class="time">11:00</p>
                        </div>
                        <p class="content">test</p>
                      </div>
                    </li> -->
                </ul>
            </div>
            <div class="message-input">
                <textarea class="anti-block" name="message-input" placeholder="message input"
                          id="message-input"></textarea>
                <input class="button" type="submit" id="submit" name="" value="Submit">
            </div>
        </div>
    </div>
</div>
<script src="../static/scripts/main.js"></script>
</body>
</html>
